:root {
  --text: #444;
  --text-h: #111;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #4a90e2;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.45 var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c5c8d0;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--text-h);
}
